{% extends 'base.html.twig' %}

{% block title %}Medecin index{% endblock %}

{% block body %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-2">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <a href="{{ path('app_medecin_new') }}" class="btn btn-primary btn-md btn-block">Ajouter un medecin</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <form class="col-md-12" method="post" enctype="multipart/form-data">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">                  
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom de cabinet</th>
                                    <th>Tel</th>
                                    <th>Adresse</th>
                                    <th>Email</th>
                                    <th>Heures</th>
                                    <th>Licence Medical Id</th>
                                    <th>Image Path Profile</th>
                                    <th>File Licence Path</th>
                                    <th>Active</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for medecin in medecins %}
                                    <tr>
                                        <td>{{ medecin.id }}</td>
                                        <td>{{ medecin.nomDeCabinet }}</td>
                                        <td>{{ medecin.tel }}</td>
                                        <td>{{ medecin.adresse }}</td>
                                        <td>{{ medecin.email }}</td>
                                        <td>{{ medecin.heures }}</td>
                                        <td>{{ medecin.licenceMedicalId }}</td>
                                        <td>{{ medecin.imagePathProfile }}</td>
                                        <td>{{ medecin.fileLicencePath }}</td>
                                        <td>{{ medecin.active }}</td>
                                        <td>
                                            <a href="{{ path('app_medecin_show', {'id': medecin.id}) }}">Voir</a>
                                            <a href="{{ path('app_medecin_edit', {'id': medecin.id}) }}">Éditer</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="11">Aucun enregistrement trouvé</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
