{# <form method="post" action="{{ path('app_login') }}">
    {{ form_widget(form) }}
</form> #}
{% block body %}
    <h1>Create User</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
    {{ form_end(form) }}
    <button><a href="{{path('app_add_utilisateur')}}">créer un compte</a></button>
{% endblock %}