{% extends 'base.html.twig' %}
{% block html %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block css %}
  <link href="{{asset('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap')}}" rel="stylesheet">
  <link rel="stylesheet" href="{{asset('fonts/icomoon/style.css')}}">
  <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{asset('fonts/flaticon/font/flaticon.css')}}">
  <link rel="stylesheet" href="{{asset('css/magnific-popup.css')}}">
  <link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}">
  <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
  <link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">
  <link rel="stylesheet" href="{{asset('css/aos.css')}}">
  <link rel="stylesheet" href="{{asset('css/style.css')}}">
  <style>
   .link-container {
    display: flex;
    align-items: center;
  }
  .card-img-top {
  width: 100%;
  height: 100%;
  max-height: 200px; /* Adjust the maximum height as needed */
  object-fit: cover; /* To maintain image proportions */
}
  .link-text {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
  }
  .link-text:hover {
    text-decoration: none;
  }
  .icon-bold {
    color: #000;
  }
  .icon-bold:hover {
    cursor: pointer;
  }
  .search-form {
    margin-top: 5%;
  }
  .search-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
   .search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5vh; /* Height of the viewport */
  }
  .search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the container takes up the full height */
  }
  .btn-show,
            .btn-edit,
            .btn-delete {
              display: inline-block;
              padding: 8px 16px;
              border-radius: 4px;
              transition: background-color 0.3s;
              margin-right: 10px; /* Add margin to create space */
            }

            .btn-show {
              background-color: #41ac22; /* Change to desired color */
              color: #fff;
              text-decoration: none;
            }
  </style>
   {% endblock %}
</head>

<body>
{% block body %}
   <div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
         <form id="search-form">
  <input type="text" name="query" class="form-control">

        </div>
      </div>
      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="" class="js-logo-clone"><strong class="text-primary">Care</strong>Link</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <a href="">Evenements</a>
                <li class="has-children">
                  <a href="">Produit</a>
                  <ul class="dropdown">
                    <li><a href="">Supplements</a></li>
                    <li class="has-children">
                      <a href="">Vitamins</a>
                      <ul class="dropdown">
                        <li><a href="">Supplements</a></li>
                        <li><a href="">Vitamins</a></li>
                        <li><a href="">Diet &amp; Nutrition</a></li>
                        <li><a href="">Tea &amp; Coffee</a></li>
                      </ul>
                    </li>
                    <li><a href="">Diet &amp; Nutrition</a></li>
                    <li><a href="">Tea &amp; Coffee</a></li>
                  </ul>
                </li>
                <li class="active"><a href="">Parapharmacie</a></li>
                <li><a href="">Prendre une consultation</a></li>
                <li><div class="site-navbar py-2">
                  
              </ul>
            </nav>
          </div>
          <nav class="site-navigation text-right text-md-center" role="navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li class="has-children">
                <a href="#">Profile</a>
                <ul class="dropdown">
                  <li><a href="">Profile</a></li>
                  <li class="has-children">
                    <a href="">Parametres</a>
                    <ul class="dropdown">
                      <li><a href="">Supplements</a></li>
                      <li><a href="">Vitamins</a></li>
                      <li><a href="">Diet &amp; Nutrition</a></li>
                      <li><a href="">Tea &amp; Coffee</a></li>
                    </ul>
                  </li>
                  <li><a href="{{ path('app_para_pharmacie_espace_index') }}">Gérer un espace</a></li>
                  <li><a href="">Déconnexion</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
 <div class="search-div">
  <div class="search-icon-container">
    <div class="icons">
      <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
    </div>
  </div>
</div>
    <div class="site-section" id="search-results">
      <div class="container">
        <div class="row mb-5">
          {% for para_pharmacie in para_pharmacies %}
          <div class="col-md-6 mb-4">
            <div class="card" data-path="{{ path('app_para_pharmacie_show', {'id': para_pharmacie.id}) }}">
              <a href="{{ path('app_para_pharmacie_show', {'id': para_pharmacie.id}) }}" alt="Image" data-url="{{ path('app_para_pharmacie_show', {'id': para_pharmacie.id}) }}">
                <img src="{{ vich_uploader_asset(para_pharmacie, 'imageFile') }}"  class="card-img-top" alt="Image">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{ para_pharmacie.nomPara }}</h5>
                <p class="card-text">Email: {{ para_pharmacie.email }}</p>
                <p class="card-text">ville: {{ para_pharmacie.ville ? para_pharmacie.ville.ville : '-' }}</p>
                <p class="card-text">Nbr Pharmaciens: {{ para_pharmacie.nbrPharmaciens }}</p>
               <p class="card-text"> Distance: <span id="distance{{ para_pharmacie.id }}"></span></p>
                <a href="{{ path('app_para_pharmacie_pdf_show', {'id': para_pharmacie.id}) }}" class="btn btn-show">pdf</a>
              </div>
            </div>
          </div>
          <script>
            // Coordonnées de la parapharmacie
            const mapLat{{ para_pharmacie.id }} = {{ para_pharmacie.latitude }};
            const mapLon{{ para_pharmacie.id }} = {{ para_pharmacie.longitude }};
            // Coordonnées spécifiées - REMARQUE : Vous devez obtenir ces coordonnées à partir de votre modèle Twig
            const specifiedLat = 36.90100499935435;
            const specifiedLon = 10.190288258634265;
            // Calculer la distance et l'afficher
            const distance{{ para_pharmacie.id }} = calculateDistance(mapLat{{ para_pharmacie.id }}, mapLon{{ para_pharmacie.id }}, specifiedLat, specifiedLon);
            document.getElementById('distance{{ para_pharmacie.id }}').innerText = distance{{ para_pharmacie.id }}.toFixed(2) + ' km';
          </script>
          {% endfor %}
    </div>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="block-7">
              <h3 class="footer-heading mb-4">About <strong class="text-primary">CareLink</strong></h3>
              <p>une interaction fluide avec nos clients, avec notre application tout est possible.</p>
            </div>
          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Navigation</h3>
            <ul class="list-unstyled">
              <li><a href="#">Supplements</a></li>
              <li><a href="#">Vitamins</a></li>
              <li><a href="#">Diet &amp; Nutrition</a></li>
              <li><a href="#">Tea &amp; Coffee</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">emailaddress@domain.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
{% block js %}
  <script src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{asset('js/jquery-ui.js')}}"></script>
  <script src="{{asset('js/popper.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
  <script src="{{asset('js/owl.carousel.min.js')}}"></script>
  <script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>
  <script src="{{asset('js/aos.js')}}"></script>
  <script src="{{asset('js/main.js')}}"></script>
  <script>
    $(document).ready(function() {
      
      $('#search-form').submit(function(event) {
        event.preventDefault();
        $.get("{{ path('app_para_search') }}", $(this).serialize())
          .done(function(data) {
            $('#search-results').empty();
            data.forEach(function(p) {
              var email = p.email ? 'Email: ' + p.email : 'Email non défini';
              var nbrPharmaciens = p.nbrPharmaciens ? 'Nbr Pharmaciens: ' + p.nbrPharmaciens : 'Nbr Pharmaciens non défini';
              var siteSection = $('<div class="site-section"></div>');
              var container = $('<div class="container"></div>');
              var row = $('<div class="row mb-5"></div>');
              var col = $('<div class="col-md-6 mb-4"></div>');
              var card = $('<div class="card"></div>');
              var cardBody = $('<div class="card-body"></div>');
              var cardTitle = $('<h5 class="card-title"></h5>').text(p.nomPara);
              var cardText1 = $('<p class="card-text"></p>').text(email);
              var cardText2 = $('<p class="card-text"></p>').text(nbrPharmaciens);
              cardBody.append(cardTitle, cardText1, cardText2);
              card.append(cardBody).attr('data-url', p.path);
              col.append(card);
              row.append(col);
              container.append(row);
              siteSection.append(container);
              $('#search-results').append(siteSection);
            });
          })
          .fail(function() {
            alert("Une erreur s'est produite lors de la recherche.");
          });
        const cards = document.querySelectorAll('.card');
        const searchResults = document.querySelectorAll('.search-result');
        searchResults.forEach(result => {
          const image = result.querySelector('img');
          const url = image.dataset.url;
          image.addEventListener('click', () => {
            window.location.href = url;
          });
        });
        cards.forEach(card => {
          card.addEventListener('click', () => {
            const cardUrl = card.dataset.url;
            window.location.href = cardUrl;
          });
        });
      });
    });
  </script>
{% endblock %}
</body>
{% endblock %}
</html>
{% endblock %}
