{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }} {# Include parent CSS styles #}
     <style>
        /* Add your custom CSS styles here */
        body {
             /* Blue background */
            font-family: 'Nunito', sans-serif; /* Use Google Font */
            color: #333; /* Dark gray text color */
        }

        h1 {
            color: #48b759; /* Orange title */
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            background-color: #fff; /* White table background */
        }

        .table th, .table td {
            padding: 15px;
            font-size: 18px;
            border: 1px solid #48b759; /* Orange border */
        }

        .table th {
            color: #48b759; /* Orange table header */
        }

        .care-link {
            color: #4caf50; /* Green CareLink text */
        }

        .care-link:hover {
            color: #333; /* Dark gray color on hover */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Para Pharmacie Details</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>NomPara</th>
                    <td>{{ para_pharmacie.nomPara }}</td>
                </tr>
                <tr>
                    <th>Type Para</th>
                    <td>{{ para_pharmacie.typePara }}</td>
                </tr>
                <tr>
                    <th>Horraire Ouverture</th>
                    <td>{{ para_pharmacie.getHorraireOuverture()|date('H:i') }}</td>
                </tr>
                <tr>
                    <th>Horraire Fermeture</th>
                    <td>{{ para_pharmacie.getHorraireFermeture()|date('H:i') }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ para_pharmacie.email }}</td>
                </tr>
                <tr>
                    <th>ville</th>
                    <td>{{ para_pharmacie.ville ? para_pharmacie.ville.ville : '-' }}</td>
                </tr>
                 <tr>
                    <th>N°Rue</th>
                    <td>{{ para_pharmacie.ville ? para_pharmacie.ville.numRue : '-' }}</td>
                </tr>
                <tr>
                    <th>NbrPharmaciens</th>
                    <td>{{ para_pharmacie.nbrPharmaciens }}</td>
                </tr>
                <tr>
                    <th>Taux de Remplissage</th>
                    <td>{{ (para_pharmacie.nbrPharmaciens / 20 * 100) | round(2) }}%</td>
                </tr>
                <tr>
                    <th>N°tel</th>
                    <td>{{ para_pharmacie.numtel }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
  <script src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{asset('js/jquery-ui.js')}}"></script>
  <script src="{{asset('js/popper.min.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
  <script src="{{asset('js/owl.carousel.min.js')}}"></script>
  <script src="{{asset('js/jquery.magnific-popup.min.js')}}"></script>
  <script src="{{asset('js/aos.js')}}"></script>
  <script src="{{asset('js/main.js')}}"></script>
  {% endblock %}


